<a href="https://colab.research.google.com/github/byambaa1982/combine_tables/blob/master/extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)
root_dir = "/content/gdrive/My Drive/googe travel API"
base_dir = root_dir + 'byamba-v3/'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import os
os.chdir('/content/gdrive/My Drive/google travel API')  #change dir
# !mkdir train  #create a directory named train/
# !mkdir test  #create a directory named test/
#!unzip -q varm.zip   #unzip data in StevenCSV

In [3]:
! ls

agency.txt	    feb24_included.csv	google		travel.gsheet
calendar_dates.txt  feed_info.txt	no_shift.csv	trips.txt
calendar.txt	    final_result.csv	stops.txt
extract.ipynb	    fixed_v.csv		stop_times.txt

In [0]:
import pandas as pd
import numpy as np

In [0]:
stop=pd.read_csv('stops.txt')
stop_times=pd.read_csv('stop_times.txt')
calendar=pd.read_csv('calendar.txt')
calendar_dates=pd.read_csv('calendar_dates.txt')
trips=pd.read_csv('trips.txt')

In [0]:
 trips=trips.iloc[0:,0:3]
 new_calendar_dates=calendar_dates[(calendar_dates.date>20200223 )& (calendar_dates.date<20200301)]
 new_calendar_dates=new_calendar_dates.iloc[0:,0:2]
 stop_times=stop_times.iloc[0:,0:5]

## Merge them on service_id and make a new column named "unique_trip_id"

In [0]:
new_csv=stop_times.iloc[0:,0:5]

In [0]:
a=trips
b=new_calendar_dates
c=pd.merge(a, b, on='service_id', how='left')
c['unique_trip_id']=c.index+1
e=stop_times
f=pd.merge(c, e, on='trip_id', how='left')

In [0]:
df.to_csv('no_shift.csv' index=False)

# Main

In [0]:
df=pd.read_csv('no_shift.csv')

In [0]:
df['unique_trip_id']=df['unique_trip_id'].map(lambda x: x+1)
df['first']=df['unique_trip_id'].map(lambda x: str(x))
df['second']=df['stop_sequence'].map(lambda x: str(x))
df['first_date']=df['start_date'].map(lambda x: str(x))
df['second_date']=df['end_date'].map(lambda x: str(x))
df['unique_sub_trip_id']= df[['first', 'second']].apply(lambda x: '.'.join(x), axis=1)
df['arrival_time']= df[['second_date', 'arrival_time']].apply(lambda x: ' '.join(x), axis=1)
df['departure_time']= df[['first_date', 'departure_time']].apply(lambda x: ' '.join(x), axis=1)

In [0]:
# groups = df.groupby(by=['unique_trip_id'])
# print(groups.apply(lambda g: g[g['stop_sequence'] == g['stop_sequence'].max()]))

In [0]:
def make_zero():
  df['test']=df.arrival_time.map(lambda x: 0)
  return df

In [0]:
df=df[['unique_trip_id', 'unique_sub_trip_id', 'trip_id',
       'stop_id', 'stop_sequence', 'departure_time', 'arrival_time']]

In [16]:
unique_trip_id_list=df.unique_trip_id.unique().tolist()
df_list=[]
for i in unique_trip_id_list:
  df1 = df.loc[df['unique_trip_id'] == i]
  df1['arrival_time'] = df1['arrival_time'].shift(-1)
  df_list.append(df1)
final_result=pd.concat(df_list)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [0]:
final_result.to_csv('resultv3.csv', index=False)

In [0]:
# final_result[final_result.trip_id==175500000044939798]
# df.head()

In [0]:
df=pd.read_csv('resultv3.csv')

In [0]:
df['first']=df['unique_trip_id'].map(lambda x: str(x))
df['second']=df['stop_sequence'].map(lambda x: str(x))
df['unique_sub_trip_id']= df[['first', 'second']].apply(lambda x: '.'.join(x), axis=1)

In [0]:
df=df[['unique_trip_id', 'unique_sub_trip_id', 'trip_id', 'stop_id',
       'stop_sequence', 'departure_time', 'arrival_time']]

In [0]:
df.to_csv('result_v4.csv', index=False)

In [30]:
df=pd.read_csv('result_v4.csv')
df.head()

   unique_trip_id  unique_sub_trip_id  ...       departure_time         arrival_time
0               1                 1.1  ...  20200226.0 07:50:00  20200226.0 07:51:00
1               1                 1.2  ...  20200226.0 07:51:00  20200226.0 07:54:00
2               1                 1.3  ...  20200226.0 07:54:00  20200226.0 07:59:00
3               1                 1.4  ...  20200226.0 07:59:00  20200226.0 08:05:00
4               1                 1.5  ...  20200226.0 08:05:00                  NaN

[5 rows x 7 columns]